# PostgreSQL
POSTGRES__DB=db
POSTGRES__USER=user
POSTGRES__PASSWORD=password

POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password

POSTGRES__HOST=theatre-db
POSTGRES__PORT=5432

# Redis
REDIS__HOST=redis
REDIS__PORT=6379
REDIS__DB=0

# Elasticsearch
ELASTIC__URL=http://localhost:9200
ELASTIC__INDEX=movies
ELASTIC__PORT=9200

APP__BATCH_SIZE=1000
APP__SLEEP_TIME=60
APP__STORAGE_TYPE=redis

API__PROJECT_NAME=movies
API__URL=http://localhost:8000

JWT__SECRET_KEY=paste0your-secret-key
JWT__ALGORITHM=HS256
JWT__ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT__REFRESH_TOKEN_EXPIRE_DAYS=7

AUTH__URL=http://auth:8000
AUTH__TIMEOUT=2
AUTH__CACHE_TTL=300

ADMIN__SECRET_KEY=paste0your-secret-key
ADMIN__DEBUG=False