# PostgreSQL
POSTGRES_DB=theatre
POSTGRES_USER=user
POSTGRES_PASSWORD=password

SQL_HOST=theatre-db
SQL_PORT=5432

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# Elasticsearch
ELASTICSEARCH_URL=http://localhost:9200
ELASTICSEARCH_INDEX=movies

ES_PORT=9200

BATCH_SIZE=1000
SLEEP_TIME=60
STORAGE_TYPE=json