# PostgreSQL
POSTGRES__DB=db
POSTGRES__USER=user
POSTGRES__PASSWORD=password

POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password

POSTGRES__HOST=theatre-db
POSTGRES__PORT=5432

# Redis
REDIS__HOST=redis
REDIS__PORT=6379
REDIS__DB=0

# Elasticsearch
ELASTIC__URL=http://localhost:9200
ELASTIC__INDEX=movies
ELASTIC__PORT=9200

APP__BATCH_SIZE=1000
APP__SLEEP_TIME=60
APP__STORAGE_TYPE=redis

API__PROJECT_NAME=movies
API__URL=http://localhost:8000

JWT__SECRET_KEY=paste0your-secret-key
JWT__ALGORITHM=HS256
JWT__ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT__REFRESH_TOKEN_EXPIRE_DAYS=7

AUTH__URL=http://auth:8000
AUTH__TIMEOUT=2
AUTH__CACHE_TTL=300
AUTH__WITH_TRACING=False
AUTH__INTERNAL_API_TOKEN=your_api_token

ADMIN__SECRET_KEY=paste0your-secret-key
ADMIN__DEBUG=False

OAUTH__YANDEX__CLIENT_ID=your_yandex_client_id
OAUTH__YANDEX__CLIENT_SECRET=your_yandex_secret
OAUTH__YANDEX__REDIRECT_URI=http://localhost:8000/api/v1/auth/callback/yandex

OAUTH__VK__CLIENT_ID=your_vk_client_id
OAUTH__VK__CLIENT_SECRET=your_vk_secret
OAUTH__VK__REDIRECT_URI=http://localhost:8000/api/v1/auth/callback/vk

NOTIFY__CELERY_URL=redis://redis:6379/0
NOTIFY__CELERY_BACKEND=redis://redis:6379/0
NOTIFY__NOTIFIER_BD=postgresql+asyncpg://user:password@theatre-db/notifications


BILLING__PAYMENT_GATEWAY_UTL=http://payment-gateway:8000
BILLING__PAYMENT_TIMEOUT=10
BILLING__DEFAULT_TRIAL_DAYS=7
BILLING__PROMOC_ODE_LENGTH=8